:root.night {
    --primary-night-color: #c4a27b;
    --primary-night-color: var(--primary-300T);
    --text-first-night-color: var(--white);
    --text-second-night-color: var(--secondary-300T);
    --text-three-night-color: var(--dneutral-color-600);
    --text-placeholder-night-color: var(--dneutral-color-600);
    --border-color-night: rgba(19 24 35/ 20%);
    --color-text-primary-night: var(--primary-300T);
    --color-text-night: var(--white-color);
    --color-text-weak-night: var(--secondary-200T);
    --color-text-subtle-night: var(--secondary-200T);
    --color-text-subtle-weak-night: var(--secondary-300T);
    --color-text-weak-01-night: var(--secondary-200T);
    --color-text-disabled-night: var(--white);
    --color-text-primary-weak-night: var(--primary-500-Base);
    --color-text-strong-01-night: var(--white);
    --color-text-strong-02-night: var(--secondary-200T);
    --color-text-strong-03-night: var(--white);
    --color-text-strong-04-night: var(--primary-500-Base);
    --color-text-inverse-01-night: var(--white);
    --color-text-inverse-02-night: var(--white);
    --color-text-inverse-03-night: var(--primary-700S);
    --color-text-primary-01-night: var(--primary-500-Base);
    --color-text-inverse-night: var(--white);
    --color-text-error-night: var(--error-400T);
    --color-text-success-night: var(--success-400T);
    --color-text-warning-night: var(--warning-400T);
    --color-text-tad-night: var(--tertiary-300T);
    --color-text-inverse-04-night: var(--secondary-200T);
    --color-text-primary-active-night: var(--white);
    --color-border-primary-night: var(--primary-300T);
    --color-border-divide-night: rgb(var(--secondary-400T), 20%);
    --color-layer-input-night: rgb(var(--secondary-950S), 30%);
    --color-layer-success-night: rgba(var(--tertiary-500-Base), 8%);
    --color-layer-error-night: rgba(var(--error-300T), 10%);
    --color-layer-warning-night: rgba(var(--primary-500-Base), 12%);
    --color-layer-secondary50-night: rgba(var(--white-8), 10%);
    --color-layer-tabbar-night: var(--secondary-900S);
    --color-layer-info-night: var(--secondary-950S);
    --color-layer-primary10-night: rgba(var(--dneutral-color-800), 10%);
    --color-layer-primary100-night: var(--white-20);
    --color-layer-primary50-night: var(--white-10);
    --color-layer-overlay-night: rgba(var(--secondary-950S), 30%);
    --color-layer-primary-disable-night: var(--secondary-900S);
    --color-layer-error-weak-night: rgba(var(--error-300T), 10%);
    --color-layer-primary200-night: rgba(var(--secondary-900S), 50%);
    --color-layer-warning-weak-night: rgba(var(--primary-500-Base), 12%);
    --color-layer-bubble-recipient-night: rgba(var(--primary-500-Base), 30%);
    --color-layer-primary-night: var(--primary-700S);
    --color-layer-popup-night: rgba(var(--secondary-950S), 50%);
    --color-layer-toast-night: rgba(var(--secondary-950S), 80%);
    --color-layer-alt-night: rgba(var(--white), 8%);
    --color-layer-active-night: rgba(var(--white), 20%);
    --color-layer-scrollbar-night: rgba(var(--secondary-900S), 50%);
    --color-layer-night: rgba(var(--white), 6%);
    --color-layer-toggle-night: rgba(var(--white), 6%);
    --color-layer-divide-night: var(--white-6);
    --color-layer-divide-alt-night: var(--white-2);
    --color-act-text-weak-night: var(--white-80);
    --color-act-layer-popup-night: var(--secondary-800S);
    --color-text-primary-inverse-night: var(--primary-500-Base);
    --color-layer-act-primary10-night: rgba(var(--white), 8%);
    --color-indicator_weak-night: var(--primary-700S);
}
