@import url('./colour.scss');

// 基础色
$primary-10: #f3faff;
$primary-50: #e8f5ff;
$primary-100: #d1ebff;
$primary-200: #a2d7ff;
$primary-300: #74c4ff;
$primary-400: #45b0ff;
$primary-500: #179cff;// 主题色
$primary-600: #127dcc;
$primary-700: #0e5e99;
$primary-800: #093e66;
$primary-900: #051f33;
$primary-950: #02101a;
