// 背景色 backgroud
$color-background: $white;
$color-background-950: $white;
$color-background-white: $white;
$color-background_skin: $white;
$color-background-subpage: $secondary-50T;
$color-background-secondary10: $secondary-10T;
$color-background-secondary50: $secondary-50T;

$color-background-night: $secondary-900S;
$color-background-950-night: $secondary-950S;
$color-background-white-night: $secondary-900S;
$color-background_skin-night: $secondary-900S;
$color-background-subpage-night: $secondary-900S;
$color-background-secondary10-night: $secondary-950S;
$color-background-secondary50-night: $black;
