// 描边 border
$color-border-divide: $secondary-200T;
$color-border-divide-alt: $secondary-100T;
$color-border-primary: $primary-500-Base;
$color-border-primary-weak: $primary-100T;
$color-border-inverse: $white;
$color-border-disable: $secondary-100T;
$color-border-selection: $success-500-Base;
$color-border-separator: $secondary-100T;
$color-border-separator-alt: $secondary-200T;
$color-border-dvide-alt: $secondary-100T;
$color-border-success: $success-500-Base;
$color-border-error: $error-500-Base;
$color-border-warning: $warning-500-Base;
$color-border-selection-sec: $black;
$color-border-divide-night: $white-8;
$color-border-divide-alt-night: $white-8;
$color-border-primary-night: $primary-400T;
$color-border-primary-weak-night: $white-8;
$color-border-inverse-night: $white-4;
$color-border-disable-night: $white-4;
$color-border-selection-night: $success-500-Base;
$color-border-separator-night: $white-8;
$color-border-separator-alt-night: $white-20;
$color-border-dvide-alt-night: $white-8;
$color-border-success-night: $success-500-Base;
$color-border-error-night: $error-500-Base;
$color-border-warning-night: $warning-500-Base;
$color-border-selection-sec-night: $white-90;
