// 图标 - Icon 相关配色变量
//白天
$color-icon-primary: $primary-500-Base;
$color-icon-primary-weak: $primary-300T;
$color-icon: $black;
$color-icon-weak: $secondary-500-Base;
$color-icon-subtle: $secondary-500-Base;
$color-icon-subtle-weak: $secondary-400T;
$color-icon-secondary950: $secondary-950S;
$color-icon-secondary800: $secondary-800S;
$color-icon-secondary900: $secondary-900S;
$color-icon-disable: $secondary-200T;
$color-icon-inverse: $white;
$color-icon-success: $success-500-Base;
$color-icon-error: $error-500-Base;
$color-icon-warning: $warning-500-Base;
$color-icon-primary-active: $primary-600S;
//黑夜
$color-icon-primary-night: $primary-400T;
$color-icon-primary-weak-night: $primary-300T;
$color-icon-night: $white-50;
$color-icon-weak-night: $white-30;
$color-icon-subtle-night: $white-30;
$color-icon-subtle-weak-night: $white-50;
$color-icon-secondary950-night: $white-90;
$color-icon-secondary800-night: $white-70;
$color-icon-secondary900-night: $white-50;
$color-icon-disable-night: $white-20;
$color-icon-inverse-night: $white;
$color-icon-success-night: $success-500-Base;
$color-icon-error-night: $error-500-Base;
$color-icon-warning-night: $warning-500-Base;
$color-icon-primary-active-night: $white-90;
