// 主题配色列表
$primary-10T: #f5f7ff;
$primary-50T: #ecf0ff;
$primary-100T: #d8e1ff;
$primary-200T: #b1c3ff;
$primary-300T: #7795ff;
$primary-400T: #6486ff;
$primary-500-Base: #3d68ff;
$primary-600S: #3153cc;
$primary-700S: #253e99;
$primary-800S: #182a66;
$primary-900S: #0f1a40;
$primary-950S: #060a1a;

$secondary-10T: #f9f9f9;
$secondary-50T: #f3f3f4;
$secondary-100T: #e8e8e8;
$secondary-200T: #d0d0d2;
$secondary-300T: #b9b9bb;
$secondary-400T: #a1a1a5;
$secondary-500-Base: #8a8a8e;
$secondary-600S: #6e6e72;
$secondary-700S: #535355;
$secondary-800S: #373739;
$secondary-900S: #1b1b1c;
$secondary-900S10: #181a211a;
$secondary-900S20: #181a2133;
$secondary-900S30: #181a214d;
$secondary-950S: #171717;

$tertiary-10T: #fdfbf8;
$tertiary-50T: #fcf8f0;
$tertiary-100T: #f8f0e2;
$tertiary-200T: #f2e2c5;
$tertiary-300T: #ebd3a8;
$tertiary-400T: #e5c58b;
$tertiary-500-Base: #deb66e;
$tertiary-500-Base10: #deb66e1a;
$tertiary-500-Base20: #deb66e33;
$tertiary-600S: #b29258;
$tertiary-700S: #856d42;
$tertiary-800S: #59492c;
$tertiary-900S: #2c2416;
$tertiary-950S: #16120b;

$success-10T: #f2fbf4;
$success-50T: #e5f7ea;
$success-100T: #ccf0d4;
$success-200T: #99e1aa;
$success-300T: #66d27f;
$success-400T: #33c355;
$success-400T10: #4ab06a1a;
$success-400T20: #4ab06a33;
$success-500-Base: #00b42a;
$success-600S: #009022;
$success-700S: #006c19;
$success-800S: #004811;
$success-900S: #002408;
$success-950S: #001204;

$warning-10T: #fffbf4;
$warning-50T: #fff7ea;
$warning-100T: #ffefd5;
$warning-200T: #ffdfaa;
$warning-300T: #fece80;
$warning-400T: #febe55;
$warning-400T10: #febe551a;
$warning-400T20: #febe5533;
$warning-500-Base: #feae2b;
$warning-600S: #cb8b22;
$warning-700S: #98681a;
$warning-800S: #664611;
$warning-900S: #332309;
$warning-950S: #191104;

$error-10T: #fef5f5;
$error-50T: #feecec;
$error-100T: #fdd9d9;
$error-200T: #fbb2b2;
$error-300T: #f98c8c;
$error-400T: #f76565;
$error-400T10: #e95b5b1a;
$error-400T20: #e95b5b33;
$error-500-Base: #f53f3f;
$error-600S: #c43232;
$error-700S: #932626;
$error-800S: #621919;
$error-900S: #310d0d;
$error-950S: #190606;

$grey-50: #fbfbfb;
$grey-100: #f2f2f2;
$grey-200: #eaeaea;
$grey-300: #d9d9d9;
$grey-400: #afafaf;
$grey-500: #8d8d8d;
$grey-600: #626262;
$grey-700: #4e4e4e;
$grey-800: #333;
$grey-900: #262626;
$grey-950: #191919;

$black: #121212;
$white: #fff;
$white-90: #ffffffe5;
$white-80: #fffc;
$white-70: #ffffffb2;
$white-60: #fff9;
$white-50: #ffffff80;
$white-40: #fff6;
$white-30: #ffffff4d;
$white-20: #fff3;
$white-10: rgb(255 255 255 / 10%);
$white-8: #ffffff14;
$white-6: rgb(255 255 255 / 6%);
$white-5: rgb(255 255 255 / 5%);
$white-4: rgb(255 255 255 / 4%); //#ffffff0a;
$white-2: #ffffff05;
$black: #000;
