// 图层色 - Layer 相关配色变量
//白天
$color-layer: $white;
$color-layer-black: $black;
$color-layer-alt: $secondary-10T;
$color-layer-alt-weak: $secondary-50T;
$color-layer-white: $white;
$color-layer-primary: $primary-500-Base;
$color-layer-primary-disable: $primary-100T;
$color-layer-primary-active: $primary-600S;
$color-layer-inverse: $white-30;
$color-layer-primary10: $primary-10T;
$color-layer-secondary10: $secondary-10T;
$color-layer-input: $secondary-10T;
$color-layer-input-disable: $white;

$color-layer-toggle: $secondary-100T;
$color-layer-toggle-weak: $secondary-50T;
$color-layer-toggle-selected: $white;
$color-layer-secondary50: $secondary-50T;
$color-layer-secondary100: $secondary-100T;
$color-layer-secondary500: $secondary-500-Base;
$color-layer-primary50: $primary-50T;
$color-layer-primary100: $primary-100T;
$color-layer-primary200: $primary-200T;
$color-layer-secondary600: $secondary-600S;
$color-layer-button: $secondary-800S;
$color-layer-button-primay: $primary-500-Base;
$color-layer-button-weak: $secondary-500-Base;
$color-layer-button-primay-weak: $primary-400T;
$color-layer-selection-sec: $black;
$color-layer-active: $primary-100T;
$color-layer-bubble-sender: $white;
$color-layer-bubble-recipient: $primary-500-Base;
$color-layer-popup: $white;
$color-layer-popup-alt: $secondary-10T;
$color-layer-warning-weak: $warning-100T;
$color-layer-warning: $warning-500-Base;
$color-layer-success: $success-500-Base;
$color-layer-success-weak: $success-100T;
$color-layer-error: $error-500-Base;
$color-layer-error-weak: $error-100T;

$color-layer-tabbar: $secondary-10T;
$color-layer-tag: $secondary-800S;
$color-layer-itembg: $secondary-900S;
$color-layer-tag-weak: $white-30;
$color-layer-navgtion: $white;
$color-layer-navgtion-weak: $white-8;
$color-layer-navgtion-alt: $black;
$color-layer-indicator: $white-90;
$color-layer-banner: #34364c;
//黑夜
$color-layer-night: $secondary-900S;
$color-layer-black-night: rgb(255 255 255 / 20%);
$color-layer-alt-night: $white-8;
$color-layer-alt-weak-night: $white-8;
$color-layer-white-night: $white-4;
$color-layer-primary-night: $primary-400T;
$color-layer-primary-disable-night: $primary-800S;
$color-layer-primary-active-night: $primary-700S;
$color-layer-inverse-night: $white-30;
$color-layer-primary10-night: $white-4;
$color-layer-secondary10-night: $white-4;
$color-layer-input-night: $white;
$color-layer-input-disable-night: $white;

$color-layer-toggle-night: $white-8;
$color-layer-toggle-weak-night: $white-8;
$color-layer-toggle-selected-night: $white-8;
$color-layer-secondary50-night: $white-4;
$color-layer-secondary100-night: $white-8;
$color-layer-secondary500-night: $white-8;
$color-layer-primary50-night: $white-4;
$color-layer-primary100-night: $white-8;
$color-layer-primary200-night: $white-8;
$color-layer-secondary600-night: $white-8;
$color-layer-button-night: $white-8;
$color-layer-button-primay-night: $primary-400T;
$color-layer-button-weak-night: $white-4;
$color-layer-button-primay-weak-night: $primary-700S;
$color-layer-selection-sec-night: $white-90;
$color-layer-active-night: $white-20;
$color-layer-bubble-sender-night: $secondary-800S;
$color-layer-bubble-recipient-night: $primary-800S;
$color-layer-popup-night: $secondary-800S;
$color-layer-popup-alt-night: $secondary-800S;
$color-layer-warning-weak-night: #feae2b1a;
$color-layer-warning-night: $warning-500-Base;
$color-layer-success-night: $success-500-Base;
$color-layer-success-weak-night: #00b42a1a;
$color-layer-error-night: $error-500-Base;
$color-layer-error-weak-night: #f53f3f1a;

$color-layer-tabbar-night: $secondary-900S;
$color-layer-tag-night: $secondary-800S;
$color-layer-itembg-night: $black;
$color-layer-tag-weak-night: $white-30;
$color-layer-navgtion-night: $secondary-900S;
$color-layer-navgtion-weak-night: $white-8;
$color-layer-navgtion-alt-night: $white;
$color-layer-indicator-night: $white-90;
$color-layer-banner-night: #34364c;
