// 链接link
$color-link: $primary-500-Base;
$color-link-weak: $primary-600S;
$color-link-hover: $primary-700S;
$color-link-disabled: $primary-200T;
$color-skeleton-default: $secondary-100T;
$color-skeleton-weak: $secondary-50T;
$color-link-night: $primary-500-Base;
$color-link-weak-night: $primary-600S;
$color-link-hover-night: $primary-700S;
$color-link-disabled-night: $primary-800S;
$color-skeleton-default-night: $white-8;
$color-skeleton-weak-night: $white-4;
