// 文字 - text相关配色变量
// 白天
$color-text-primary: $primary-500-Base;
$color-text-primary-weak: $primary-300T;
$color-text-primary-active: $primary-600S;
$color-text: $black;
$color-text-banner: $black;
$color-text-horizontal: $black;
$color-text-weak: $secondary-600S;
$color-text-subtle: $secondary-500-Base;
$color-text-subtle-weak: $secondary-400T;
$color-text-disabled: $secondary-300T;
$color-text-placeholder: $secondary-200T;
$color-text-inverse: $white;
$color-text-inverse-disable: $white;
$color-text-inverse-weak: $white-50;
$color-text-white-weak: $white-50;
$color-text-success: $success-500-Base;
$color-text-warning: $warning-500-Base;
$color-text-error: $error-500-Base;
$color-text-tag: $tertiary-500-Base;
$color-text-vip: $tertiary-300T;
$color-text-inverse-table: $white-90;
$color-text-inverse-table-weak: $white-40;
// 黑夜
$color-text-primary-night: $primary-400T;
$color-text-primary-weak-night: $primary-300T;
$color-text-primary-active-night: $white-90;
$color-text-night: $white-90;
$color-text-banner-night: $black;
$color-text-horizontal-night: $white-50;
$color-text-weak-night: $white-70;
$color-text-subtle-night: $white-50;
$color-text-subtle-weak-night: $white-40;
$color-text-disabled-night: $white-20;
$color-text-placeholder-night: $white-20;
$color-text-inverse-night: $white;
$color-text-inverse-disable-night: $white-30;
$color-text-inverse-weak-night: $white-50;
$color-text-white-weak-night: $white;
$color-text-success-night: $success-500-Base;
$color-text-warning-night: $warning-500-Base;
$color-text-error-night: $error-500-Base;
$color-text-tag-night: $tertiary-600S;
$color-text-vip-night: rgba(#ebd3a8, 0.8);
$color-text-inverse-table-night: $white-90;
$color-text-inverse-table-weak-night: $white-40;
