# npm 下载源配置文件 -- 个人项目不需要设置

# 私有源、访问令牌
# registry=https://registry.npm.taobao.org
# registry=https://registry.npmjs.org/

# 设置自定义源
# @ivory:registry=https://npmjs.ivory.com/

# 配置 npm 代理
# proxy=http://server:port
# https-proxy=http://server:port

# 设置授权，是否始终发送授权信息
# always-auth=true

# 在需要确保使用本地工具时开启，那么在运行 npm scripts 之前,会先把 node_modules/.bin 目录添加到 PATH 最前面
# scripts-prepend-node-path=true

# 开启时，package.json里的engines 指定的 Node.js 版本和当前 Node.js 版本不匹配,npm 会报错并退出
# engine-strict=true

# 默认是true, 当false时，npm install 不再自动创建 package-lock.json
# package-lock=false
