:root.night {
    --primary-color: var(--primary-300T);
    --text-first-color: var(--white);
    --text-second-color: rgba(var(--white), 50%);
    --text-three-color: rgba(var(--white), 40%);
    --text-placeholder-color: rgba(var(--white), 50%);
    --border-color: rgba(19 24 35/ 20%);
    --color-text-primary: var(--primary-300T);
    --color-text: var(--white-color);
    --color-text-weak: var(--white-50);
    --color-text-subtle: var(--white-40);
    --color-text-subtle-weak: var(--white-50);
    --color-text-strong-01: var(--white);
    --color-text-strong-02: var(--white-60);
    --color-text-strong-03: var(--white);
    --color-text-strong-04: var(--primary-300T);
    --color-text-inverse-01: var(--white);
    --color-text-inverse-02: var(--white);
    --color-text-inverse-03: var(--white);
    --color-text-primary-01: var(--primary-300T);
    --color-text-inverse: var(--white);
    --color-text-error: var(--error-400T);
    --color-text-success: var(--success-400T);
    --color-text-warning: var(--warning-400T);
    --color-text-tad: var(--tertiary-300T);
    --color-text-inverse-04: var(--white-50);
    --color-text-primary-active: var(--white);
    --color-border-primary: var(--primary-300T);
    --color-border-divide: var(--white-6);
    --color-layer-input: rgb(var(--secondary-950S), 30%);
    --color-layer-success: rgba(var(--tertiary-500-Base), 8%);
    --color-layer-error: rgba(var(--error-300T), 10%);
    --color-layer-warning: rgba(var(--primary-500-Base), 12%);
    --color-layer-secondary50: rgba(var(--white-8), 10%);
    --color-layer-tabbar: var(--secondary-900S);
    --color-layer-info: rgba(var(--secondary-900S), 50%);
    --color-layer-primary10: rgba(var(--secondary-400T), 70%);
    --color-layer-primary100: var(--secondary-400T);
    --color-layer-primary50: rgba(var(--secondary-400T), 70%);
    --color-layer-overlay: rgba(var(--secondary-950S), 30%);
    --color-layer-primary-disable: var(--secondary-900S);
    --color-layer-error-weak: rgba(var(--error-300T), 10%);
    --color-layer-primary200: rgba(var(--secondary-900S), 50%);
    --color-layer-warning-weak: rgba(var(--primary-500-Base), 12%);
    --color-layer-bubble-recipient: rgba(var(--primary-500-Base), 30%);
    --color-layer-primary: var(--primary-700S);
    --color-layer-popup: rgba(var(--secondary-950S), 50%);
    --color-layer-toast: rgba(var(--secondary-950S), 80%);
    --color-layer-alt: rgba(var(--white), 8%);
    --color-layer-active: rgba(var(--white), 20%);
    --color-layer-scrollbar: rgba(var(--secondary-900S), 50%);
    --color-layer: rgba(var(--white), 6%);
    --color-layer-toggle: rgba(var(--white), 6%);
    --color-layer-divide: var(--white-6);
    --color-layer-divide-alt: var(--white-2);
    --color-act-text-weak: var(--white-80);
    --color-act-layer-popup: var(--secondary-800S);
    --color-text-primary-inverse: var(--primary-500-Base);
    --color-layer-act-primary10: rgba(var(--white), 8%);
    --color-indicator_weak: var(--primary-700S);
}
