.watermarkUnit {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    .watermarkBox {
        width: 100%;
        height: 100%;
        overflow: hidden;
        div {
            width: fit-content;
            opacity: 0.8;
            font-size: 15px;
            color: rgba(0, 0, 0, .2);
            background: transparent;
            transform: rotate(-20deg);
            padding: 10px 120px 40px 0;
            position: absolute;
            left: 0px;
        }
    }
}
