.watermarkUnit {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    .watermarkBox {
        width: calc(100% + 200px);
        height: calc(100% + 200px);
        overflow: hidden;
        // CSS 网格布局实现
        // https://www.runoob.com/css3/css-grid.html
        display: grid;
        // grid-template-columns: repeat(auto-fill, 50px);
        // grid-template-rows: repeat(auto-fill, 50px);
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%);
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        div {
            width: 20%;
            min-width: 200px;
            opacity: 0.8;
            font-size: 15px;
            color: rgba(0, 0, 0, .2);
            background: transparent;
            // background: yellowgreen;
            transform: rotate(-28deg);
            height: 200px;
        }
    }
}
