// 平台名称
$platform: 'xk';

// primary
$primary-10T: #ebf7ff;
$primary-50T: #e1f3ff;
$primary-100T: #c3e7ff;
$primary-200T: #b4e1ff;
$primary-300T: #97d6ff;
$primary-400T: #88d0ff;
$primary-500-Base: #6ac4ff;
$primary-600S: #5fb0e5;
$primary-700S: #354c94;
$primary-700S: #4a89b2;
$primary-800S: #356280;
$primary-900S: #203b4d;
$primary-950S: #152733;
// secondary
$secondary-10T: #f5f6f7;
$secondary-50T: #d6dade;
$secondary-100T: #c1c7cd;
$secondary-200T: #98a2ac;
$secondary-300T: #6f7d8b;
$secondary-400T: #46586b;
$secondary-500-Base: #31455a;
$secondary-600S: #273748;
$secondary-700S: #22303f;
$secondary-800S: #19232d;
$secondary-900S: #141c24;
$secondary-950S: #0a0e12;
// tertiary
$tertiary-10T: #f2f6fb;
$tertiary-50T: #e7eef6;
$tertiary-100T: #cfd9f9;
$tertiary-200T: #acbbfc;
$tertiary-300T: #90a3ff;
$tertiary-400T: #768dfc;
$tertiary-500-Base: #6079f9;
$tertiary-600S: #5469d9;
$tertiary-700S: #4355b1;
$tertiary-800S: #374693;
$tertiary-900S: #242e64;
$tertiary-950S: #0f1532;
// success
$success-10T: #f4fbf7;
$success-50T: #edf8f1;
$success-100T: #daf1e4;
$success-200T: #b6e4c9;
$success-300T: #91d6ae;
$success-400T: #6dc993;
$success-500-Base: #48bb78;
$success-600S: #3a9660;
$success-700S: #2b7048;
$success-800S: #1d4b30;
$success-900S: #163824;
$success-950S: #0e2518;
// warning
$warning-10T: #fef8f3;
$warning-50T: #fdf3eb;
$warning-100T: #fbe7d7;
$warning-200T: #f8d0af;
$warning-300T: #f4b886;
$warning-400T: #f1a15e;
$warning-500-Base: #ed8936;
$warning-600S: #be6e2b;
$warning-700S: #8e5220;
$warning-800S: #5f3716;
$warning-900S: #472910;
$warning-950S: #2f1b0b;
// error
$error-10T: #fef6f6;
$error-50T: #fef0f0;
$error-100T: #fde0e0;
$error-200T: #fbc1c1;
$error-300T: #f9a3a3;
$error-400T: #f78484;
$error-500-Base: #f56565;
$error-600S: #c45151;
$error-700S: #933d3d;
$error-800S: #622828;
$error-900S: #4a1e1e;
$error-950S: #311414;
// grey
$grey-50: #fbfbfb;
$grey-100: #f2f2f2;
$grey-200: #eaeaea;
$grey-300: #d9d9d9;
$grey-400: #afafaf;
$grey-500: #8d8d8d;
$grey-600: #626262;
$grey-700: #4e4e4e;
$grey-800: #333;
$grey-900: #262626;
$grey-950: #191919;
$black: #121212;
$white: #fff;
$white-90: #ffffffe5;
$white-80: #fffc;
$white-70: #ffffffb2;
$white-60: #fff9;
$white-50: #ffffff80;
$white-40: #fff6;
$white-30: #ffffff4d;
$white-20: #fff3;
$white-10: rgb(255 255 255 / 10%);
$white-8: #ffffff14;
$white-6: rgb(255 255 255 / 6%);
$white-5: rgb(255 255 255 / 5%);
$white-4: #ffffff0a;
$white-2: #ffffff05;

$black: #000;
$dneutral-color-50: #f7f9fc;
$dneutral-color-200: #d7e2ef;
$dneutral-color-500: #6c84a8;
$dneutral-color-300: #c7d7e9;
$dneutral-color-400: #b7cce3;
$dneutral-color-600: #9eb2ca;
$dneutral-color-700: #7b8b9d;
$dneutral-color-800: #586370;
$dneutral-color-900: #353b43;

// 默认颜色
$primary-color: $primary-500-Base;
$primary-gradient-color: radial-gradient(
  85.99% 191.66% at 50% -32.28%,
  #b6e9ff 0%,
  #73d5ff 26.77%,
  #20a0ff 45.96%,
  #3d72fa 66.67%,
  #20a0ff 100%
);
$primary-night-color: $primary-500-Base;
// 一级文字<用于导航栏，title，输入文字，列表等文字>
$text-first-color: $secondary-500-Base;
// 头部导航栏颜色
$header-nav-color: $secondary-500-Base;
$active-text-color: $primary-500-Base;
// 二级文字<用于标签颜色和其他装饰性颜色>
$text-second-color: $secondary-300T;
// 三级文字<用于提示文字>
$text-three-color: $secondary-200T;
// 辅助文字<用于辅助文字，未输入状态颜色>
$text-placeholder-color: $secondary-200T;
// 头部导航栏选中颜色
$header-nav-active-color: #333;
// 头部导航<用于充值，提款，钱包等文字>
$header-nav-user-view-text-color: $secondary-300T;

$active-btn-color: $white;
// 头部
$header-height: 80px;
// 头部 nav
$header-nav-height: 300px;

$primary-width: 1200px;
// 底部
$footer-width: 1136px;
$footer-second-background: $primary-950S;
$footer-text-first-color: $secondary-300T;
$footer-text-second-color: $secondary-200T;
$footer-text-hover-color: $secondary-50T;

//按钮组件颜色
$text-button-color: $secondary-500-Base;

// 警告
$danger-color: $error-500-Base;
// font
$font-basic: -apple-system, Hiragino Sans GB, Monospaced Number, Helvetica Neue, Helvetica, Arial,
  sans-serif;

// 平方字体
$font-basic-medium: PingFangSC-Medium, $font-basic;
$font-basic-regular: PingFangSC-Regular, $font-basic;
$font-basic-DINAlternate: DINAlternate-Bold, $font-basic;
// ------------------------------------------------------------------------------------
// 活动用的色值
$text-color: $secondary-500-Base;
$text-weak: $secondary-400T;
$text-subtle: $secondary-200T;
$text-subtle-weak: $secondary-100T;
$text-disabled: rgba($secondary-400T, 0.2);
$text-primary: $primary-500-Base;
$text-primary-active: $primary-800S;
$text-inverse: $white;
$color-tabbar: $black;
$text-error: $error-500-Base;
$text-primary-inverse: $primary-500-Base;

// divide
$layer-divide: $secondary-50T;
$divide-primary: $primary-500-Base;
$color-layer-divide-alt: $secondary-10T;
$divid-popup: $error-500-Base;

// layer
$layer-primary: $primary-500-Base;
$layer: $white;
$indicator: $primary-500-Base;
$primary10: $primary-10T;
$primary50: $primary-50T;
$secondary-10: $secondary-10T;
$layer-pop: $white;
$layer-primary-active: $primary-500-Base;
