

// 基础色
$primary-color-30: #f2f9ff;
$primary-color-50: #e9f5ff;
$primary-color-100: #bde1fe;
$primary-color-200: #91cefe;
$primary-color-300: #66bafd;
$primary-color-400: #3aa6fc;
$primary-color-500: #249cfc;
$primary-color-600: #208ce3;
$primary-color-700: #196db0;
$primary-color-800: #124e7e;
$primary-color-900: #0b2f4c;
$primary-color-950: #041019;
// 中性色
$neutral-color-30: #fff;
$neutral-color-50: #ecedf1;
$neutral-color-100: #c5cad6;
$neutral-color-200: #9fa7ba;
$neutral-color-300: #79849e;
$neutral-color-400: #657391;
$neutral-color-500: #3f5075;
$neutral-color-600: #32405e;
$neutral-color-700: #2c3852;
$neutral-color-800: #20283b;
$neutral-color-900: #131823;
$neutral-color-950: #000;
$neutral-color-960: #90765b;
// 中性色-2
$dneutral-color-50: #f7f9fc;
$dneutral-color-100: #e7eef6;
$dneutral-color-200: #d7e2ef;
$dneutral-color-300: #c7d7e9;
$dneutral-color-400: #b7cce3;
$dneutral-color-500: #afc6e0;
$dneutral-color-600: #9eb2ca;
$dneutral-color-700: #7b8b9d;
$dneutral-color-800: #586370;
$dneutral-color-900: #90a3ff;
// 警告色
$danger-color-50: #fef6f6;
$danger-color-100: #fde0e0;
$danger-color-200: #fbc1c1;
$danger-color-300: #f9a3a3;
$danger-color-400: #f78484;
$danger-color-500: #f56565;
$danger-color-600: #c45151;
$danger-color-700: #933d3d;
$danger-color-800: #622828;
$danger-color-900: #311414;
// 成功色
$success-color-50: #f4fbf7;
$success-color-100: #daf1e4;
$success-color-200: #b6e4c9;
$success-color-300: #91d6ae;
$success-color-400: #6dc993;
$success-color-500: #48bb78;
$success-color-600: #3a9660;
$success-color-700: #2b7048;
$success-color-800: #1d4b30;
$success-color-900: #0e2518;
// 警告色
$warning-color-50: #fef8f3;
$warning-color-100: #fbe7d7;
$warning-color-200: #f8d0af;
$warning-color-300: #f4b886;
$warning-color-400: #f1a15e;
$warning-color-500: #ed8936;
$warning-color-600: #be6e2b;
$warning-color-700: #8e5220;
$warning-color-800: #5f3716;
$warning-color-900: #2f1b0b;
// 黑夜色
$dark-color-500: #1c2734;
$dark-color-900: #6079f9;
// Color variables
$white-color: #fff;
$black-color: #000;
// 默认颜色<用于选中态文字，链接文字>
$primary-color: $primary-color-500;
$primary-night-color: $primary-color-300;
// 字体颜色
// 一级文字<用于导航栏，title，输入文字，列表等文字>
$text-first-color: $neutral-color-500;
$text-first-night-color: $neutral-color-30;
// 二级文字<用于标签颜色和其他装饰性颜色>
$text-second-color: $neutral-color-300;
$text-second-night-color: rgba($neutral-color-30, 50%);
// 三级文字<用于提示文字>
$text-three-color: $neutral-color-200;
$text-three-night-color: rgba($neutral-color-30, 40%);
// 辅助文字<用于辅助文字，未输入状态颜色>
$text-placeholder-color: $neutral-color-200;
$text-placeholder-night-color: rgba($neutral-color-30, 50%);

// 未读颜色
$unread-color: $danger-color-500;

// 边框
$border-color: rgb(0 0 0 / 5%);
$border-color-night: rgba(19 24 35/ 20%);


// picker
$picker-bg-color: rgb(47 74 91 / 100%); // 底部背景
$picker-mask-first-bg-color: rgb(47 74 91 / 95%); // mask上部分
$picker-mask-second-bg-color: rgb(47 74 91 / 60%); // mask下部分


// font
$font-basic: -apple-system, Hiragino Sans GB, Monospaced Number, Helvetica Neue, Helvetica, Arial,
  sans-serif;

// 平方字体
$font-basic-sc: PingFang SC, $font-basic;
$font-basic-medium: PingFangSC-Medium, $font-basic;
$font-basic-regular: PingFangSC-Regular, $font-basic;
$font-basic-DINAlternate: DINAlternate-Bold, $font-basic;
$font-basic-tengxztb: TENGXZTB, $font-basic;
$font-basic-fontName: FontName, $font-basic;
// 需要根据设计图再次修改， 改了之后这句注释删掉
$bd-strong-color: #30383f; // 强调色
// 需要根据设计图再次修改， 改了之后这句注释删掉
$bd-normal-color: #788b9d; // 常规色
// 需要根据设计图再次修改， 改了之后这句注释删掉
$bd-negetive-color: #c9d1d8; // 置灰色
// 需要根据设计图再次修改， 改了之后这句注释删掉
$bd-positive-color: $primary-color-30; // 激活色

// 需要根据设计图再次修改， 改了之后这句注释删掉
$bd-font-normal-color: $bd-normal-color; // 常规色

// 需要根据设计图再次修改， 改了之后这句注释删掉
$bd-bg-color: #f4faff;
$bd-divider-color: #fff;

// 需要根据设计图再次修改， 改了之后这句注释删掉
$bd-word-btn-color: #000;
// 需要根据设计图再次修改， 改了之后这句注释删掉
$bd-primary-color: #000;
// 需要根据设计图再次修改， 改了之后这句注释删掉
$primary-gradient: #000;
// 需要根据设计图再次修改， 改了之后这句注释删掉
$bd-gradient-color: #000;

/* 最新设计规范按照改规范定义颜色 */
// text-primary
$text-primary: $primary-color-500;
$text-primary-night: $primary-color-300;
// text-neutral-normal
$text-neutral-normal: $neutral-color-500;
$text-neutral-normal-night: $neutral-color-30;
// text-neutral-weak-01
$text-neutral-weak-01: $neutral-color-300;
$text-neutral-weak-01-night: rgba($neutral-color-30, 50%);
// text-neutral-weak-02
$text-neutral-weak-02: $neutral-color-200;
$text-neutral-weak-02-night: rgba($neutral-color-30, 40%);
// text-neutral-weak-03
$text-neutral-weak-03: $neutral-color-100;
$text-neutral-weak-03-night: rgba($neutral-color-30, 50%);
// text-neutral-weak-05
$text-neutral-weak-05: $neutral-color-300;
$text-neutral-weak-05-night: rgba($neutral-color-30, 50%);
// text-neutral-weak-06
$text-neutral-weak-06: $neutral-color-300;
$text-neutral-weak-06-night: $neutral-color-30;
// text-neutral-weak-07
$text-neutral-weak-07: $primary-color-500;
$text-neutral-weak-07-night: $neutral-color-30;
// text-neutral-strong-01
$text-neutral-strong-01: $neutral-color-600;
$text-neutral-strong-01-night: $neutral-color-30;
// text-neutral-strong-02
$text-neutral-strong-02: $neutral-color-500;
$text-neutral-strong-02-night: rgba($neutral-color-30, 60%);
// text-neutral-strong-03
$text-neutral-strong-03: $neutral-color-800;
$text-neutral-strong-03-night: $neutral-color-30;
// text-neutral-strong-04
$text-neutral-strong-04: $neutral-color-500;
$text-neutral-strong-04-night: $primary-color-300;
// text-neutral-strong-05
$text-neutral-strong-05: $neutral-color-30;
$text-neutral-strong-05-night: $neutral-color-30;
// text-neutral-strong-06
$text-neutral-strong-06: $neutral-color-30;
$text-neutral-strong-06-night: $neutral-color-30;
// text-onPrimary-01
$text-onPrimary-01: $neutral-color-30;
$text-onPrimary-01-night: $neutral-color-30;
// text-onPrimary-02
$text-onPrimary-02: $primary-color-500;
$text-onPrimary-02-night: $primary-color-300;
// text-warning-white
$text-warning-white: $neutral-color-30;
$text-warning-white-night: $neutral-color-30;
// $text-error-01
$text-error-01: $danger-color-500;
$text-error-01-night: $danger-color-400;
// $text-success-01
$text-success-01: $success-color-500;
$text-success-01-night: $success-color-400;
// $text-warning-01
$text-warning-01: $warning-color-500;
$text-warning-01-night: $warning-color-400;
// text-neutral-blue
$text-neutral-blue: $dark-color-900;
$text-neutral-blue-night: $dneutral-color-900;
// text-neutral-search
$text-neutral-search: $dneutral-color-200;
$text-neutral-search-night: rgba($neutral-color-30, 50%);
// list-text-selected01
$list-text-selected01: $primary-color-700;
$list-text-selected01-night: $neutral-color-30;
// border-primary
$border-primary: $primary-color-500;
$border-primary-night: $primary-color-300;
// border-normal-line
$border-normal-line: $neutral-color-50;
$border-normal-line-night: rgba($neutral-color-30, 6%);
// background-layer
$background-layer: $dneutral-color-50;
$background-layer-night: rgba($neutral-color-950, 30%);
// background-win
$background-win: rgba($dark-color-900, 8%);
$background-win-night: rgba($dark-color-900, 8%);
// background-lose
$background-lose: rgba($danger-color-300, 10%);
$background-lose-night: rgba($danger-color-300, 10%);
// background-confirm
$background-confirm: rgba($primary-color-500, 12%);
$background-confirm-night: rgba($primary-color-500, 12%);
// background-cancel
$background-cancel: $neutral-color-50;
$background-cancel-night: rgba($dneutral-color-800, 10%);
// background -01
$background-01: $neutral-color-30;
$background-01-night: $neutral-color-900;
// background -02
$background-02: $primary-color-30;
$background-02-night: rgba($neutral-color-900, 50%);
// background -03
$background-03: $primary-color-30;
$background-03-night: rgba($neutral-color-400, 70%);
// background -04
$background-04: $primary-color-100;
$background-04-night: $neutral-color-400;
// background -05
$background-05: $primary-color-50;
$background-05-night: rgba($neutral-color-400, 70%);
// background -06
$background-06: rgba($neutral-color-950, 15%);
$background-06-night: rgba($neutral-color-950, 30%);
// background -07
$background-07: $dneutral-color-100;
$background-07-night: $neutral-color-900;
// background-red
$background-red: $danger-color-50;
$background-red-night: rgba($danger-color-300, 10%);
// background-input
$background-input: rgba($primary-color-200, 10%);
$background-input-night: rgba($neutral-color-900, 50%);
// background-primary
$background-primary: rgba($primary-color-500, 12%);
$background-primary-night: rgba($primary-color-500, 12%);
// background-primary-2
$background-primary-2: rgba($primary-color-500, 30%);
$background-primary-2-night: rgba($primary-color-500, 30%);
// background-primary-3
$background-primary-3: $primary-color-500;
$background-primary-3-night: $primary-color-700;

$background-maintain-01: rgba($neutral-color-30, 80%);
$background-maintain-01-night: rgba($neutral-color-950, 50%);
$background-maintain-02: rgba($neutral-color-900, 50%);
$background-maintain-02-night: rgba($neutral-color-950, 80%);
// list-background-01
$list-background-01: $neutral-color-30;
$list-background-01-night: rgba($neutral-color-30, 8%);
// list-background-02
$list-background-02: $primary-color-100;
$list-background-02-night: rgba($neutral-color-30, 20%);
// list-background-03
$list-background-03: $dneutral-color-100;
$list-background-03-night: rgba($neutral-color-900, 50%);
// list-background-04
$list-background-04: $neutral-color-30;
$list-background-04-night: rgba($neutral-color-30, 6%);
// list-background-05
$list-background-05: $primary-color-50;
$list-background-05-night: rgba($neutral-color-30, 6%);
