.tableCheckbox {
    width: 100%;
    .theadBox, .tbodyBox {
        width: 100%;
        ul {
            width: 100%;
            display: flex;
            li {
                flex-grow: 1;
                flex-shrink: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px;
                border-right: 0.5px dashed yellowgreen;
                border-bottom: 0.5px dashed yellowgreen;
            }
            li:nth-of-type(1) {
                border-left: 0.5px dashed yellowgreen;
            }
        }
    }
    .theadBox {
        ul {
            li {
                border-top: 0.5px dashed yellowgreen;
            }
        }
    }
}
