/*
css变量
:root是一个伪类，表示文档根元素，非IE及ie8及以上浏览器都支持，在:root中声明相当于全局属性，只要当前页面引用了:root segment所在文件，都可以使用var()来引用
*/
@import '~@sky/styles/themeUnit/rootVar/index.css';
:root {
    /* base color
    -------------------------- */
    --color-white: #FFF;
    --color-black: #000;

    --color-primary2: #AFA37E;
    --color-primary1: #2b9939;
    --color-primary-light: #EAE5D4;
    --color-primary-darken: #978755;

    --color-success: #5BBA69;
    --color-warning: #FFB403;
    --color-danger: #FF5757;
    --color-error: #FF001F;

    /* layout navigate
    -------------------------- */
    --nav-background-color: #3C3C3C;
    --nav-background-color-hover: #585858;

    /* link
    -------------------------- */
    --color-link-base: #2774FF;

    /* checkbox radio
    -------------------------- */
    --checkbox-color: #61A5FF;

    /* text color
    -------------------------- */
    --color-text-base: #000;
    --color-text-second: #333;
    --color-text-third: #666;
    --color-text-light: #999;
    --color-text-placeholder: #999;
    --color-text-disabled: #D8D8D8;
    --color-text-selected: #FF8A00;

    /* icon
    -------------------------- */
    --color-icon-base: #999;
    --color-icon-info: var(--color-primary);
    --color-icon-success: var(--color-success);
    --color-icon-error: var(--color-danger);
    --color-icon-warning: var(--color-warning);

    /* background-color
    -------------------------- */
    --background-color-base: #F2F2F2;
    --background-color-selected: #F2F2F2;
    --background-color-hover: #F7F7F7;
    --background-color-light: #FBFBFB;
    --background-color-lighter: #FAFAFA;

    /* border
    -------------------------- */
    --border-base-style: 1px solid var(--border-color-base);
    --border-radius: 4px;
    --border-color-base: #DDD;
    --border-color-light: #D8D8D8;
    --border-color-lighter: #EEE;

    /* Font
    -------------------------- */
    --font-size-base: 14px;
    --font-size-small: 12px;
    --font-size-large: 14px;
    --font-size-larger: 16px;
    --font-size-largest: 18px;
    --font-weight-medium: 500;
    --font-family: OpenSans,Arial,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    --font-line-height: 1;
}

/*
@define-mixin 是precss插件的，用不了不用管
*/
