@import '~@sky/styles/themeUnit/themeSkin/index.scss';

@import '~@sky/styles/platform/index.scss';


// 清除浮动影响
@mixin bob-clear-after() {
    &::after {
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        content: '.';
    }
}
