


// 清除浮动影响
@mixin bob-clear-after() {
    &::after {
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        content: '';
    }
}
// 单行：css文字溢出隐藏为三个点...
@mixin line-clamp1() {
    overflow: hidden;
    text-overflow: ellipsis;// 显示省略符号 ... 来代表被修剪的文本。
    white-space: nowrap;//文本强制不换行
}
// 多行：css文字溢出隐藏为三个点...
@mixin line-clamps($num) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;// 流体盒模型
    -webkit-line-clamp: $num;// 设置显示的行数
    -webkit-box-orient: vertical;// 垂直
}
// 盒子或文字，水平居中和垂直居中
@mixin horizontal-and-vertical-center1() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin horizontal-and-vertical-center2($width, $height) {
    width: $width;
    height: $height;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin horizontal-and-vertical-center3($width, $height) {
    width: $width;
    height: $height;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: calc($height / -2) 0px 0px calc($width / -2);
}

@mixin btn-opacity-hover() {
    opacity: 0.6;
}
/*
三张图的背景，中间图y重复，为了盒子内容延伸

子盒子要加
position: relative;
z-index: 2;
*/
@mixin card-bg() {
    $top-height: 20px;
    $bottom-height: 20px;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% $top-height, 100% $bottom-height;
    background-position: left top, left bottom;
    @include theme-light() {
        background-image: url('@/@energy/image/3bg/1/middle1.png'), url('@/@energy/image/3bg/1/middle3.png');
    }
    @include theme-night() {
        background-image: url('@/@energy/image/3bg/1/middle1_night.png'), url('@/@energy/image/3bg/1/middle3_night.png');
    }
    &::before {
        width: 100%;
        position: absolute;
        top: $top-height;
        right: 0;
        bottom: $bottom-height;
        left: 0;
        z-index: 1;
        content: '';
        background-repeat: repeat-y;
        background-position: center top;
        background-size: 100% auto;
        @include theme-light() {
            background-image: url('@/@energy/image/3bg/1/middle2.png');
        }
        @include theme-night() {
            background-image: url('@/@energy/image/3bg/1/middle2_night.png');
        }
    }
}

// ----------------------------------------------------------

// bd
@mixin platform-bd() {
    @if $platform =='bd' {
        @content;
    }
}

// tb
@mixin platform-tb() {
    @if $platform =='tb' {
        @content;
    }
}


// 白天主题
@mixin theme-light() {
    [data-theme='light'] & {
        // 编译后：html > ***
        @content;
    }
}

// 黑夜主题
@mixin theme-night() {
    [data-theme='night'] & {
        @content;
    }
}

// 马卡龙主题
@mixin theme-macaron() {
    [data-theme='macaron'] & {
        @content;
    }
}

// 竖屏模式
@mixin screen-vertical() {
    :global([data-screen='vertical']) & {
      @content;
    }
}

// 横屏模式
@mixin screen-horizontal() {
    :global([data-screen='horizontal']) & {
      @content;
    }
}




